@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #0B0C11;
  --foreground: #ffffff;
  --accent: #C6D53F;
  --hover: #DE6604;
  --font-sans: 'Open Sans', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover: var(--hover);
  --color-accent: var(--accent);
  --font-sans: var(--font-sans); 
  --font-mono: var(--font-mono); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); 
}

#no-scrollbar::-webkit-scrollbar {
  display: none;
}
